button {
  display: flex;
  justify-content: center; /* Centrar el texto horizontalmente */
  align-items: center; /* Centrar el texto verticalmente */
  appearance: none; /* Elimina el estilo por defecto del botón */
  background-color: hsl(212, 47%, 55%);
  border-radius: 4px;
  border: 1px solid black;
  padding: 8px 16px; /* Espaciado interno más amplio */
  margin: 4px;
  height: 30px; /* Ajusta la altura del botón */
  width: auto; /* Deja que el ancho sea dinámico en función del contenido */
  color: rgb(245, 245, 245);
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px; /* Asegura un tamaño de texto adecuado */

}

button:hover {
  box-shadow: hsl(212, 47%, 20%) 0 4px 8px;
  transform: translateY(-4px);
  transition: transform 0.3s ease;
}

.button-30:focus {
  outline: none; /* Elimina el borde de enfoque predeterminado */
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
